<?xml version="1.0" encoding="ISO-8859-1"?>
<MenuSpec>

<words>
  <wordsNumber>4</wordsNumber>
  <wordsX>840</wordsX>
  <wordsY>430</wordsY>
  <wordsSpaceX>70</wordsSpaceX>
  <wordsSpaceY>50</wordsSpaceY>
  <words0>Start Game</words0>
  <words1>Difficulty</words1>
  <words2>Help</words2>
  <words3>Exit</words3>
</words>

<clickoff>
  <clickoffFile>images/bomboff.png</clickoffFile>
  <clickoffWidth>25</clickoffWidth>
  <clickoffHeight>25</clickoffHeight>
  <clickoffSrcX>0</clickoffSrcX>
  <clickoffSrcY>0</clickoffSrcY>
  <clickoffTransparency>false</clickoffTransparency>
</clickoff>

<clickon>
  <clickonFile>images/bombon.png</clickonFile>
  <clickonWidth>26</clickonWidth>
  <clickonHeight>26</clickonHeight>
  <clickonSrcX>0</clickonSrcX>
  <clickonSrcY>0</clickonSrcY>
  <clickonTransparency>false</clickonTransparency>
</clickon>

</MenuSpec>
